<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=your-size-in-number">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla One">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>XLT</title>
  </head>
  <body>
    <div class="container demo">
       <div class="content">
          <div id="large-header" class="large-header">
            <h1 class="main-title">XSS Live Tool</h1>
            <div class="logo">
              <img src="/static/xlt.png" alt="logo">
            </div>
            <div class="prgs">
              <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-secondary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-success" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-warning" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-info" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-light" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>

            <div class="area">
              <form  action = "http://192.168.3.48/mal" method = "post" accept-charset="utf-8">
                <input type="text" name ="url" class="form-control" placeholder="Enter your URL" required>
                <small id="urldes" class="form-text text-muted">Enter full URL include http/https.</small>
                <div class="row arg">
                  <div class="col">
                    <button class="btn btn-success sub" name ="formsubmit"   value="crawl">Crawl</button>
                  </div>
                  
                  
                </div>
              </form>

              <div id="pbarmain" style="display: none" class="progress progress-striped active">
                <div id="pbar" class="progress-bar"></div>
              </div>

              <div class="row center">
                <div class="col">
                  <button onclick="about()" class="condition">About US</button>
                </div>
                <div class="col">
                 <button onclick="terms()" class="condition">Terms</button>
                </div>
                <div class="col">
                  <button onclick="privacy()" class="condition">Privacy</button>
                </div>
              </div>
              <p class="center tj">Designed by <a href="https://tjframes.live/" target="_blank">TJ-frames</a></p>
            </div>  

          </div>
       </div>
    </div>
    <script type="text/javascript">
      function about(){
        swal({
            title: 'About',
            text: 'XSS Live Tool is a python script that work independently. Using this XSS Live Tool we can scan any website. And it predicts the vulnerability of the given site.',
          });
      }
      function terms(){
        swal({
            title: 'Terms',
            text: 'By accessing or using the Service(s) or Websites, or authorizing or permitting any User or End-User to access or use the Service(s) or Websites, You agree to be bound by these Terms. If You are entering into these Terms on behalf of a company, organization or another legal entity (an “Entity”), You are agreeing to these Terms for that Entity and representing to Us that You have the authority to bind such Entity and its Affiliates to these Terms, in which case the terms, “You", “Your” or related capitalized terms used herein shall refer to such Entity and its Affiliates. If You do not have such authority, or if You do not agree with these Terms, You must not accept these Terms and may not access or use the Service(s) or Websites.',
          });
      }
      function privacy(){
        swal({
            title: 'Privacy',
            text: 'This Privacy Policy constitutes an integral part of our Terms of Use and is subject to the provisions thereof, including with respect to Limitation of Liability and governing law. We encourage you to read our Privacy Policy as part of your evaluation process and to read it again when we notify you of changes from time to time.',
          });
      }
    </script>
    <script src="assets/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>