body{
   background-image: -webkit-linear-gradient(150deg, #34ADFF 35%, #4CBFFF 35%);
}
.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: url(&#39;https://6ed03b3e7ee716b29bc2dee79aafb8179ed53b19-www.googledrive.com/host/0B9VLbslO6g64UnFTUlQzWDVMdXM&#39;) 50% 50% no-repeat rgb(249,249,249);
}
.loader-container {
	width: 600px;
	height: 200px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
	text-align: center;
}
.jumbotron{
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
}
.out{
	background-color: #FFFFFF;
	padding: 20px;
}